@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #61dafb;
  --bg-text-color: #000000;
}

.header {
  background-color: var(--main-color);
  transition: background-color 0.2s ease;

  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  
  /* Font */
  font-size: calc(6px + 2vmin);
  color: var(--bg-text-color);
  text-align: left;
  font-family: 'Trebuchet MS', sans-serif;
  text-indent: 1em;

  /* Border */
  border-width: 0px 0px 2px 0px;
  border-color: #000;
  border-radius: 0px 0px 10px 0px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', sans-serif;
}

.text {
  font-size: 4px;
}

.subtext {
  font-size: 0.8rem;
  color: #555555;
  text-wrap: wrap;
  text-align: center;
}

.button {
  background-color: var(--main-color);
  font-size: calc(2px + 2vmin);

  border-radius: 10px;
  border-width: 2px;
  border-color: #000;

  padding: 0px 5px;

  color: var(--bg-text-color);

  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #00ccff;
  color: #fff;

  transition: background-color 0.2s ease;
}

.img-preview {
  height: calc(100px + 2vmin);
  max-width: calc(200px + 2vmin);
}

.border {
  border-width: 2px;
  border-color: #000;
  border-radius: 10px;
  padding: 0px 6px;
}

.input-container {
  box-shadow: #000000 0px 0px 10px 0px;
  clip-path: inset(0px -10px -10px -10px);
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  margin: 0;
}

.advanced-settings {
  background-color: #AAAAAA;
  border-radius: 10px;

  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.advanced-settings.expanded {
  border: 2px solid black;
  height: auto;
  transition: height 0.3s ease;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.modal-content {
  background-color: #fefefe;
  padding: 2vw;
  border: 1px solid #888;
  width: auto; 
  height: auto; 
  position: relative; 
  overflow: hidden; 
  display: inline-block; 
  border-radius: 10px; 
}

.modal-content img {
  max-width: 100vw; 
  max-height: 100vh; 
  padding: 0;
  object-fit: contain; 
  display: block;
  border: none;
}

.close-modal {
  position: absolute; 
  top: 10px;
  right: 10px; 
  font-size: 1.5rem; 
  cursor: pointer; 
  color: red; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
