@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #61dafb;
  --bg-text-color: #000000;
  --main-color-dark: color-mix(in srgb, var(--main-color) 70%, black 30%);
  --main-color-light: color-mix(in srgb, var(--main-color) 70%, white 30%);
}

.header {
  background-image: linear-gradient(var(--main-color-light), var(--main-color), var(--main-color-dark));
  transition: background-color 0.2s ease;

  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  
  /* Font */
  font-size: calc(6px + 2vmin);
  color: var(--bg-text-color);
  text-align: left;
  font-family: 'Trebuchet MS', sans-serif;
  text-indent: 1em;

  /* Border */
  border-radius: 0px 0px 30px 0px;
  border-width: 1px;
  border-color: #555;
  box-shadow: #000000 0px 0px 10px 0px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', sans-serif;
}

.text {
  font-size: 4px;
}

.subtext {
  font-size: 0.8rem;
  color: #555555;
  text-wrap: wrap;
  text-align: center;
}

.subsubtext {
  font-size: 0.6rem;
  color: #777777;
  text-wrap: wrap;
  text-align: center;
}

.button {
  background-image: linear-gradient(var(--main-color-light), var(--main-color-dark));
  font-size: calc(2px + 2vmin);

  border-radius: 10px;
  border-width: 1px;
  border-color: #555;

  padding: 0px 5px;

  color: var(--bg-text-color);

  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #00ccff;
  color: #fff;

  transition: background-color 0.2s ease;
}

.img-preview {
  height: calc(100px + 2vmin);
  max-width: calc(200px + 2vmin);
}

.border {
  border-width: 1px;
  border-color: #555;
  border-radius: 10px;
  padding: 0px 6px;
}

.input-container {
  box-shadow: #000000 0px 0px 10px 0px;
  clip-path: inset(0px -10px -10px -10px);
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  margin: 0;
}

.advanced-settings {
  background-color: #BBB;
  border-radius: 10px;

  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.advanced-settings.expanded {
  border-width: 1px;
  border-color: #555;
  height: auto;
  transition: height 0.3s ease;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
  background-color: rgba(0, 0, 0, 0.4); 
  align-items: center; 
  justify-content: center; 
}

.modal-content {
  background-color: #fefefe;
  padding: 2vw;
  border: 1px solid #888;
  width: auto; 
  height: auto; 
  position: relative; 
  overflow: hidden; 
  display: inline-block; 
  border-radius: 10px; 
  margin: auto;
}

.modal-img {
  max-width: 90vw; 
  max-height: 90vh; 
  padding: 0;
  object-fit: contain; 
  display: block;
  border: none;
}

.close-modal {
  position: absolute; 
  top: 10px;
  right: 10px; 
  font-size: 1.5rem; 
  cursor: pointer; 
  color: red; 
}

.color-display {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between color items */
  justify-content: center;
}

.color-item {
  width: calc(20vw - 15px); 
  height: calc(150px - 2vw); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.toggle {
  display: inline-flex; /* Use flexbox for centering */
  align-items: center; /* Vertically center the slider */
  justify-content: center; /* Horizontally center the slider */
  cursor: pointer;
}

.toggle__input {
  display: none;
  
  &:checked + .toggle__slider {
    background: var(--main-color-dark);
    &:before {
      left: 2.6em;
    }
  }
}

.toggle__slider {
  width: 3em;
  height: 1.5em;
  background: #ccc;
  padding: .3em;
  border-radius: 2em;
  position: relative; 
  display: flex; 
  align-items: center;
}

.toggle__slider:before {
  content: '';
  width: 1.2em; 
  height: 1.2em; 
  background: #fff;
  position: absolute;
  top: 50%; 
  left: 0.2em; 
  transform: translateY(-50%);
  border-radius: 50%;
  transition: 300ms cubic-bezier(0.89, 0.3, 0.15, 0.73);
}

.toggle__input:checked + .toggle__slider:before {
  left: calc(100% - 1.4em); 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
